#user apps;
worker_processes  4;
worker_cpu_affinity 00000001 00000010 00000100 00001000 ;
worker_rlimit_nofile 100000;
#error_log  /apps/log/nginx/error.log error;

events {
    use epoll;
    worker_connections  40240;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
	server_tokens off;
	
    log_format  init  '$remote_addr - $remote_user [$time_local] $request '
                     '"$status" $body_bytes_sent "$request_time" "$upstream_response_time" "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';
   
    log_format main  '{"@timestamp":"$time_iso8601",'
                  '"user_ip":"$remote_addr",'
                  '"server_ip":"$server_addr",'
                  '"request_method":"$request_method",'
                  '"domain":"$host",'
                  '"url":"$uri",'
                  '"user_req":"$scheme://$http_host$request_uri",'
                  '"http_code":"$status",'
                  '"size_bytes":$body_bytes_sent,'
                  '"http_referer":"$http_referer",'
                  '"http_x_forwarded_for":"$http_x_forwarded_for",'
                  '"http_version":"$server_protocol",'
                  '"user_agent":"$http_user_agent",'
                  '"response_time":$request_time,'
                  '"upstream_response_time":$upstream_response_time,'
                  '"upstream_addr":"$upstream_addr",'
                  '"upstream_status":"$upstream_status"'
                  '}';	
    #access_log  off;

    sendfile        on;
    tcp_nopush     on;

    keepalive_timeout  65;
    keepalive_requests 100;

    gzip  on;
    gzip_comp_level 9;
    gzip_types       text/css text/plain application/xml application/x-javascript;

    client_body_buffer_size 128k;
    proxy_connect_timeout 60;
    proxy_send_timeout 60;
    proxy_read_timeout 240;
    proxy_buffer_size 16k;
    proxy_buffers 4 32k;

    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Connection Close;
    server_names_hash_max_size 1024;
    server_names_hash_bucket_size 1024;

    fastcgi_connect_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_read_timeout 300;

    #access_log  /apps/log/nginx/access.log main; 

    include conf.d/*.conf;
}
